.helpPage{
	max-width: 1000px;
	margin: auto;

	@media only screen and (max-width: 1000px) {
		max-width: 100%;
		margin: auto;
	}

	h2{
		font-size: 44px;
		text-align: center;
		margin-bottom: 30px;

		@media only screen and (max-width: 768px) {
			font-size: 32px;
			margin-bottom: 30px;
		}

		@media only screen and (max-width: 577px) {
			font-size: 28px;
			margin-bottom: 20px;
		}
	}

	.section{

		margin-bottom: 40px;
		@media only screen and (max-width: 577px) {
			margin-bottom: 30px;
		}

		img{
			max-width: 100%;
			margin-bottom: 20px;
		}

		h4{
			font-size: 26px;
			margin-bottom: 15px;
			@media only screen and (max-width: 577px) {
				font-size: 22px;
			}
		}

		h5{
			font-size: 18px;
			margin-bottom: 10px;
			color: #000;
			font-weight: 700;
			@media only screen and (max-width: 577px) {
				font-size: 17px;
			}
		}

		ul{
			@media only screen and (max-width: 577px) {
				margin-bottom: 15px;
				padding-left: 15px;
			}
			li{
				font-family: $regFont;
				font-size: 16px;
				line-height: 25px;
				margin-bottom: 10px;

				@media only screen and (max-width: 577px) {
					font-size: 14px;
					line-height: 22px;
				}
			}
		}

		p{
			font-size: 16px;
			line-height: 25px;
			margin-bottom: 10px;

			@media only screen and (max-width: 577px) {
				font-size: 14px;
				line-height: 22px;
			}
		}
	}
}

.terms{
	padding-top: 40px;
	padding-bottom: 50px;

	.section{

		h4{
			font-size: 24px;
			margin-bottom: 15px;

			@media only screen and (max-width: 577px) {
				font-size: 20px;
			}
		}

		p{
			font-size: 14px;
			line-height: 20px;
			margin-bottom: 15px;
			text-align: justify;
			padding-left: 10px;

			@media only screen and (max-width: 577px) {
				font-size: 14px;
				line-height: 20px;
			}
		}
	}
}