.homeHeading{
	h3{
		font-size: 36px;
		margin: 25px 0px;

		@media only screen and (max-width: 577px) {
	    	margin: 20px 0px;
    		font-size: 32px;
		}   
	}
}

.homeHeading.hidden-xs{
	h3{
		margin: 0px;
	}
}

.homescreen{
	@media only screen and (max-width: 577px) {
    	background-image: linear-gradient(to bottom, rgba(99, 99, 99, 0.52), rgba(36, 36, 36, 0.73)), url("/static/home_1_mob.jpg");
    	background-size: cover;
    	background-repeat: no-repeat;
    	background-position: center;
    	padding-bottom: 30px;

	}
}

.homeStripe{
	padding: 40px 20px;

	@media only screen and (max-width: 577px){
		padding: 15px 15px;
	}

	p{
	    font-size: 28px;
	    text-align: center;
	    font-weight: 300;
	    line-height: 42px;

	    @media only screen and (max-width: 992px){
			font-size: 24px;
			line-height: 34px;
		}

		@media only screen and (max-width: 577px){
			font-size: 18px;
			line-height: 24px;
		}
	}
}

.homeSearchWrapper{

	h2{
		margin-bottom: 30px;
		color: #fff;
		@media only screen and (max-width: 577px){
			color: #fff;
			text-shadow: 2px 2px 2px #110805;
		}

		@media only screen and (max-width: 1334px) {
	    	font-size: 28px;
	    	margin-bottom: 20px;
		}
	}

	.box{
		width: 70%;
	    margin: auto;
	    margin-top: 15%;
	    text-align: center;
	    padding: 50px 30px;
	    border: 1px #ccc solid;
	    border-radius: 20px;
	    background-color: #8c3ebf;

	    @media only screen and (max-width: 1334px) {
	    	padding: 30px 20px;
	    	margin-top: 5%;
  			width: 90%;
		}

		@media only screen and (max-width: 992px) {
	    	margin-top: 5%;
	    	margin-bottom: 50px;
		}

		@media only screen and (max-width: 577px) {
	    	margin-top: 10%;
  			width: 90%;
  			padding: 0px;
	    	border: none;
	    	background-color: transparent;
		}

	    .homeInput, .DayPickerInput{
	    	margin-top: 10px;
	    }
	}

	.btn-success{
		margin-top: 30px;
	}
}

.bottomPos{
	position: absolute;
	bottom: 3%;

	@media only screen and (max-width: 1334px) {
    	bottom: 0%;
	}

}

.homeWhat{
	h4{
		margin-top: 15%;
	    font-size: 32px;
	    margin-bottom: 25px;

	    @media only screen and (max-width: 992px){
	    	margin-top: 10%;
		    font-size: 26px;
		    line-height: 32px;
		    margin-bottom: 20px;
	    }
	}

	p{
		font-size: 20px;
		font-weight: 300;

		@media only screen and (max-width: 992px){
			font-size: 18px;
		}
	}
}

.homeWhatImage{
	overflow: hidden;

	img{
		max-width: 80%;

		@media only screen and (max-width: 992px) {
	    	max-width: 110%;
	    	height: auto;
	    	overflow: hidden;
		}

		@media only screen and (max-width: 577px) {
	    	max-width: 120%;
	    	height: auto;
	    	overflow: hidden;
		}   
	}   

	.homeWhatImageInsert{
		width: 50%;
	    position: absolute;
	    top: 10%;

	    h4{
	    	font-size: 18px;
	    }

	    p{
	    	width: 90%;
	    	margin-top: 5px;
	    	font-size: 14px;
	    }
	}
}

.homeWhatLine{
	margin-top: 30px;

	@media only screen and (max-width: 577px) {
    	margin-top: 15px;
	}

	.item{
		width: 100%;
	    margin-bottom: 50px;
	    text-align: center;
	    border: solid 1px #ccc;
	    padding: 30px 0px;

		@media only screen and (max-width: 577px) {
	    	
	    	margin-bottom: 30px;
		}

		.photo{

			img{
				width: 14%;

				@media only screen and (max-width: 577px) {
			    	max-width: 40%;
				}

			}
		}

		.text{
			padding-top: 10px;

    		p{
    		    font-size: 22px;
			    line-height: 29px;
			    font-weight: 300;
			    width: 527px;
			    margin: auto;
			    margin-top: 15px;

			    @media only screen and (max-width: 992px) {
			    	font-size: 21px;
				    line-height: 27px;
				}

			    @media only screen and (max-width: 577px) {
			    	width: 90%;
			    	font-size: 20px;
				}
    		}
		}
	}
}

.homeWhatItem{

	margin-bottom: 30px;
	padding-bottom: 20px;

	.photo{
		width: 100%;
		height: 250px;

		@media only screen and (max-width: 577px) {
	    	height: 120px;
		}
	}

	.num_1{
		background-image: url("/static/photo.jpg");
    	background-size: cover;
    	background-repeat: no-repeat;
    	background-position: center;
	}

	.num_2{
		background-image: url("/static/photo-1.jpg");
    	background-size: cover;
    	background-repeat: no-repeat;
    	background-position: center;
	}

	p{
		font-size: 18px;
		margin-top: 20px;
		padding: 0px 10px;

		@media only screen and (max-width: 577px) {
	    	font-size: 14px;
	    	margin-top: 15px;
		}
	}

	.face{
	    width: 100px;
	    margin: auto;
	    margin-top: 20px;
	    margin-bottom: 20px;
	}

	.signature{
		p{
			text-align: right;
			font-size: 20px;
			font-weight: 500;
			font-style: italic; 
		}
		
	}
}

.homeInfographicWrapper{
	margin-top: 25px;
	margin-bottom: 25px;
	text-align: center;
	@media only screen and (max-width: 600px) {
    	margin-top: 15px;
		margin-bottom: 15px;
	}
}

.homePartner{
	background-image: linear-gradient(to bottom, rgba(99, 99, 99, 0.52), rgba(36, 36, 36, 0.73)), url("/static/home_4.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding: 60px 0px;
	text-align: center;

	@media only screen and (max-width: 992px) {
    	padding: 40px 0px;
	}

	h4{
		color: #fff;
	    font-size: 44px;
	    margin-bottom: 50px;

	    @media only screen and (max-width: 992px) {
	    	font-size: 34px;
	    	margin-bottom: 30px;
		}
	}

	p{
		width: 70%;
		margin: auto;
		color: #fff;
		font-size: 30px;
		margin-bottom: 40px;

		@media only screen and (max-width: 992px) {
			width: 90%;
	    	font-size: 24px;
	    	margin-bottom: 30px;
		}

		@media only screen and (max-width: 577px) {
			width: 100%;
	    	font-size: 18px;
	    	margin-bottom: 30px;
		}
	}
}

