.homeHeading{
	h3{
		font-size: 46px;
		margin: 45px 0px;

		@media only screen and (max-width: 577px) {
	    	margin: 30px 0px;
    		font-size: 32px;
    		text-align: center;
		}   
	}
}

.homeHeading.hidden-xs{
	h3{
		margin: 0px;
	}
}

.homescreen{
	@media only screen and (max-width: 577px) {
    	// background-image: linear-gradient(to bottom, rgba(99, 99, 99, 0.52), rgba(36, 36, 36, 0.73)), url("/static/home_1_mob.jpg");
    	background-image: linear-gradient(to right top, #5b92f8, #5082dd, #4672c3, #3c62a9, #325390);
    	background-size: cover;
    	background-repeat: no-repeat;
    	background-position: center;
    	padding-bottom: 30px;

	}
}

.homeStripe{
	padding: 40px 20px;

	@media only screen and (max-width: 577px){
		padding: 30px 15px;
	}

	p{
	    font-size: 28px;
	    text-align: center;
	    font-weight: 300;
	    line-height: 42px;
	    width: 800px;
	    margin: auto;

	    @media only screen and (max-width: 992px){
			font-size: 24px;
			line-height: 34px;
		}

		@media only screen and (max-width: 577px){
			font-size: 22px;
			line-height: 32px;
			width: 100%;
		}
	}
}

.homeSearchWrapper{

	h2{
		margin-bottom: 30px;
		color: #fff;
		@media only screen and (max-width: 577px){
			color: #fff;
			text-shadow: 2px 2px 2px #110805;
		}

		@media only screen and (max-width: 1334px) {
	    	font-size: 28px;
	    	margin-bottom: 20px;
		}
	}

	.box{
		width: 70%;
	    margin: auto;
	    margin-top: 15%;
	    text-align: center;
	    padding: 50px 30px;
	    border-radius: 30px;
	    background-image: linear-gradient(to right top, #5b92f8, #5082dd, #4672c3, #3c62a9, #325390);
	    -webkit-box-shadow: 7px 7px 12px 0px rgba(98,102,110,1);
		-moz-box-shadow: 7px 7px 12px 0px rgba(98,102,110,1);
		box-shadow: 7px 7px 12px 0px rgba(98,102,110,1);

	    @media only screen and (max-width: 1334px) {
	    	padding: 30px 20px;
	    	margin-top: 5%;
  			width: 90%;
		}

		@media only screen and (max-width: 992px) {
	    	margin-top: 5%;
	    	margin-bottom: 50px;
		}

		@media only screen and (max-width: 577px) {
	    	margin-top: 10%;
  			width: 90%;
  			padding: 0px;
	    	background-image: none;
	    	-webkit-box-shadow: none;
			-moz-box-shadow: none;
			box-shadow: none;
		}

	    .homeInput, .DayPickerInput{
	    	margin-top: 10px;
	    }
	}

	.btn-success{
		margin-top: 30px;
	    border-radius: 30px;
	    padding: 10px 30px;
	    background: #f8f9fa;
	    color: #216cf7;
	    font-weight: 700;
	    -webkit-box-shadow: 7px 7px 10px 0px rgba(28,59,122,1);
		-moz-box-shadow: 7px 7px 10px 0px rgba(28,59,122,1);
		box-shadow: 7px 7px 10px 0px rgba(28,59,122,1);
		 transition: all 1s;

		&:hover{
			-webkit-box-shadow: 10px 10px 5px 0px rgba(28,59,122,1);
			-moz-box-shadow: 10px 10px 5px 0px rgba(28,59,122,1);
			box-shadow: 10px 10px 5px 0px rgba(28,59,122,1);
		}
	}
}

.bottomPos{
	position: absolute;
	bottom: 3%;

	@media only screen and (max-width: 1334px) {
    	bottom: 0%;
	}

}

.homeWhat{
	h4{
		margin-top: 15%;
	    font-size: 32px;
	    margin-bottom: 25px;

	    @media only screen and (max-width: 992px){
	    	margin-top: 10%;
		    font-size: 26px;
		    line-height: 32px;
		    margin-bottom: 20px;
	    }
	}

	p{
		font-size: 20px;
		font-weight: 300;

		@media only screen and (max-width: 992px){
			font-size: 18px;
		}
	}
}

.homeWhatImage{
	overflow: hidden;

	img{
		max-width: 75%;

		@media only screen and (max-width: 992px) {
	    	max-width: 110%;
	    	height: auto;
	    	overflow: hidden;
		}

		@media only screen and (max-width: 577px) {
	    	max-width: 120%;
	    	height: auto;
	    	overflow: hidden;
		}   
	}   

	.homeWhatImageInsert{
		width: 50%;
	    position: absolute;
	    top: 10%;

	    h4{
	    	font-size: 18px;
	    }

	    p{
	    	width: 90%;
	    	margin-top: 5px;
	    	font-size: 14px;
	    }
	}
}

.homeWhatNewLine{
	padding: 20px 0px;
	margin: auto;
	margin-bottom: 50px;
	width: 100%;
	border-radius: 20px;
	-webkit-box-shadow: 7px 7px 12px 0px rgba(61,61,61,1);
	-moz-box-shadow: 7px 7px 12px 0px rgba(61,61,61,1);
	box-shadow: 7px 7px 12px 0px rgba(61,61,61,1);

	@media only screen and (max-width: 577px) {
    	margin-bottom: 35px;
    	-webkit-box-shadow: 0px 7px 12px 0px rgba(61,61,61,1);
		-moz-box-shadow: 0px 7px 12px 0px rgba(61,61,61,1);
		box-shadow: 0px 7px 12px 0px rgba(61,61,61,1);
	}

	.photo{
		width: 120px;
		height: 120px;
		margin: auto;
		border-radius: 50%;
	}

	p{
		line-height: 32px;
		font-size: 20px;
		font-weight: 300;
		margin-top: 15px;
		@media only screen and (max-width: 577px) {
	    	font-size: 17px;
	    	line-height: 30px;
	    	text-align: center;
		}
	}
}


.homeWhatLine{
	margin-top: 30px;

	@media only screen and (max-width: 577px) {
    	margin-top: 15px;
	}

	.item{
		width: 100%;
	    margin-bottom: 50px;
	    text-align: center;
	    border: solid 1px #ccc;
	    padding: 25px 15px;
	    height: 240px;

		@media only screen and (max-width: 577px) {
	    	
	    	margin-bottom: 30px;
		}

		.photo{

			img{
				width: 14%;

				@media only screen and (max-width: 577px) {
			    	max-width: 40%;
				}

			}
		}

		.text{
			padding-top: 10px;

    		p{
    		    font-size: 22px;
			    line-height: 29px;
			    font-weight: 300;
			    width: 100%;
			    margin: auto;
			    margin-top: 15px;

			    @media only screen and (max-width: 992px) {
			    	font-size: 21px;
				    line-height: 27px;
				}

			    @media only screen and (max-width: 577px) {
			    	width: 90%;
			    	font-size: 20px;
				}
    		}
		}
	}
}

.homeWhatItem{

	margin-bottom: 30px;
	padding-bottom: 20px;
	border-radius: 20px;
	background-image: linear-gradient(to right top, #cccccc, #b5b5b5, #9f9f9f, #898989, #747474);
	-webkit-box-shadow: 7px 7px 12px 0px rgba(61,61,61,1);
	-moz-box-shadow: 7px 7px 12px 0px rgba(61,61,61,1);
	box-shadow: 7px 7px 12px 0px rgba(61,61,61,1);

	.photo{
		width: 100%;
		height: 250px;

		@media only screen and (max-width: 577px) {
	    	height: 120px;
		}
	}

	.num_1{
		background-image: url("/static/photo.jpg");
    	background-size: cover;
    	background-repeat: no-repeat;
    	background-position: center;
	}

	.num_2{
		background-image: url("/static/photo-1.jpg");
    	background-size: cover;
    	background-repeat: no-repeat;
    	background-position: center;
	}

	p{
		font-size: 18px;
		margin-top: 20px;
		padding: 0px 10px;
		font-weight: 300;

		@media only screen and (max-width: 577px) {
	    	font-size: 14px;
	    	margin-top: 15px;
		}
	}

	.face{
	    width: 100px;
	    margin: auto;
	    margin-top: 20px;
	    margin-bottom: 20px;
	}

	.signature{
		p{
			text-align: right;
			font-size: 20px;
			font-weight: 500;
			font-style: italic; 
		}
		
	}
}

.processWrapper{

	padding: 50px 0px;

	.item{
		width: 600px;
		padding: 10px;
		color: #fff;
		margin: auto;
		border-bottom: solid 1px #ccc;
		h4{
			font-size: 40px;
			font-weight: 600;
			color: #fff;
			text-align: center;
		}

		p{
			font-size: 14px;
			font-weight: 300;
			text-align: center;
		}
	}

	.iconHolder{
		width: 100%;
		text-align: center;
		margin-top: 15px;
		margin-bottom: 15px;

		.icon{
			display: block;
			text-align: center;
			width: 100%;
			font-family: 'Material Icons';
	        font-size: 50px;
	        line-height: 45px;
	        color: #fff;
		}

		.down:before{
			content: 'expand_more';
		}
	}
}

.homeInfographicWrapper{
	margin-top: 60px;
	margin-bottom: 40px;
	text-align: center;
	@media only screen and (max-width: 600px) {
    	margin-top: 35px;
		margin-bottom: 25px;
	}
}

.homePartner{
	background-image: linear-gradient(to right top, #5b92f8, #5082dd, #4672c3, #3c62a9, #325390);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding: 60px 0px;
	text-align: center;

	@media only screen and (max-width: 992px) {
    	padding: 40px 0px;
	}

	.btn-success{
		margin-top: 10px;
	    border-radius: 30px;
	    padding: 10px 30px;
	    background: #f8f9fa;
	    color: #216cf7;
	    font-weight: 700;
	    -webkit-box-shadow: 7px 7px 10px 0px rgba(28,59,122,1);
		-moz-box-shadow: 7px 7px 10px 0px rgba(28,59,122,1);
		box-shadow: 7px 7px 10px 0px rgba(28,59,122,1);
		 transition: all 1s;

		&:hover{
			-webkit-box-shadow: 10px 10px 5px 0px rgba(28,59,122,1);
			-moz-box-shadow: 10px 10px 5px 0px rgba(28,59,122,1);
			box-shadow: 10px 10px 5px 0px rgba(28,59,122,1);
		}
	}

	h4{
		color: #fff;
	    font-size: 44px;
	    margin-bottom: 50px;

	    @media only screen and (max-width: 992px) {
	    	font-size: 34px;
	    	margin-bottom: 30px;
		}
	}

	p{
		width: 70%;
		margin: auto;
		color: #fff;
		font-size: 30px;
		margin-bottom: 40px;
		font-weight: 300;

		@media only screen and (max-width: 992px) {
			width: 90%;
	    	font-size: 24px;
	    	margin-bottom: 30px;
		}

		@media only screen and (max-width: 577px) {
			width: 100%;
	    	font-size: 18px;
	    	margin-bottom: 30px;
		}
	}
}

