.location{
	padding-top: 40px;
	padding-bottom: 50px;

	.mainPhoto{
		background-color: #ccc;
		width: 100%;
		height: 340px;
		cursor: pointer;

		@media only screen and (max-width: 768px) {
			height: 200px;
		}

		@media only screen and (max-width: 577px) {
			height: 200px;
		}
	}

	.supportPhoto{
		background-color: #ccc;
		width: 100%;
		height: 160px;
		margin-bottom: 20px;
		cursor: pointer;

		@media only screen and (max-width: 768px) {
			height: 90px;
		}

		@media only screen and (max-width: 577px) {
			height: 200px;
		}
	}

	.smallColPadd{
		padding-left: 7.5px;
		padding-right: 7.5px;

		@media only screen and (max-width: 577px) {
			padding-left: 15px;
			padding-right: 15px;
		}
	}

	.bigColPaddLeft{
		padding-left: 90px;
		padding-right: 15px;

		@media only screen and (max-width: 768px) {
			padding-left: 60px;
			padding-right: 15px;
		}

		@media only screen and (max-width: 577px) {
			padding-left: 15px;
			padding-right: 15px;
		}
	}

	.generalFirst{
		margin-top: 30px;
		@media only screen and (max-width: 768px) {
			margin-top: 10px;
		}
		@media only screen and (max-width: 577px) {
			margin-top: 20px;
		}

		h3{
			line-height: 70px;
			font-size: 62px;
		    font-weight: 800;
		    color: #212121;
		    font-family: $tracyFont;

		    @media only screen and (max-width: 768px) {
				line-height: 60px;
				font-size: 50px;
			}

			@media only screen and (max-width: 577px) {
				line-height: 34px;
				font-size: 26px;
			}
		}

		h5{
			font-size: 24px;
		    line-height: 34px;
		    font-weight: 300;
		    margin-top: 15px;

		    @media only screen and (max-width: 577px) {
				line-height: 22px;
				font-size: 18px;
			}
		}

		p{
			font-size: 16px;
		    line-height: 26px;
		    font-weight: 400;
		    font-style: italic;
		    margin-top: 20px;
		    color: #4c4c4c;

		    @media only screen and (max-width: 577px) {
				line-height: 22px;
				font-size: 14px;
			}
		}
	}

	.icon-section{
		margin-top: 30px;
		@media only screen and (max-width: 768px) {
			margin-top: 15px;
		}

		p{
			font-size: 16px;
		    line-height: 26px;
		    font-weight: 400;
		    font-style: italic;
		    margin-bottom: 20px;
		    color: #4c4c4c;

		    @media only screen and (max-width: 577px) {
				line-height: 22px;
				font-size: 14px;
			}
		}

		.icon{
			display: block;
			text-align: center;
			width: 100%;
			font-family: 'Material Icons';
	        font-size: 50px;
	        line-height: 50px;
	        color: #fff;
		}

		.iconHolder{
			text-align: center;
		    padding-top: 5px;
		    padding-bottom: 5px;
		    box-sizing: border-box;
		    margin-top: 15px;
		    background-image: linear-gradient(to right top, #5b92f8, #5082dd, #4672c3, #3c62a9, #325390);
    		border-radius: 10px;

			p{
				font-size: 16px;
				line-height: 20px;
				font-weight: 400;
    			color: #fff;
    			margin-top: 10px;
    			margin-bottom: 0px;
    			font-style: initial;

				@media only screen and (max-width: 1024px) {
					font-size: 13px;
				}
				@media only screen and (max-width: 768px) {
					font-size: 16px;
				}
			}

			.parking:before{
				content: 'local_parking';
			}
			.yard:before{
				content: 'deck';
			}
			.balcon:before{
				content: 'storefront';
			}
			.animator:before{
				content: 'accessibility';
			}
			.food:before{
				content: 'restaurant';
			}
			.pool:before{
				content: 'pool';
			}
			.wifi:before{
				content: 'wifi';
			}
			.cake:before{
				content: 'cake';
			}
			.drink:before{
				content: 'local_bar';
			}
			.smoking:before{
				content: 'smoking_rooms';
			}
			.gaming:before{
				content: 'sports_esports';
			}
			.movie:before{
				content: 'movie';
			}
		}
	}

	.generalSecond{
		margin-top: 30px;
		@media only screen and (max-width: 768px) {
			margin-top: 15px;
		}
		@media only screen and (max-width: 577px) {
			margin-top: 25px;
		}

		.item{
			padding: 5px;
    		margin-bottom: 5px;
    		border-bottom: solid 1px #ccc;

    		h5{
    			line-height: 50px;
			    font-size: 16px;
			    font-weight: 400;
			    margin: 0px;
			    text-align: center;
			    display: inline-block;
			    margin-left: 15px;
			    vertical-align: top;
			    @media only screen and (max-width: 768px) {
					display: block;
					line-height: 25px;
				}
			    @media only screen and (max-width: 577px) {
					display: block;
					font-size: 15px;
					margin-left: 0px;
					line-height: 30px;
				}
    		}

    		.icon{
				display: inline-block;
				text-align: center;
				font-family: 'Material Icons';
		        font-size: 45px;
		        line-height: 50px;
		        color: $purple;
		         @media only screen and (max-width: 768px) {
					display: block;
					line-height: 45px;
				}

		        @media only screen and (max-width: 577px) {
					display: block;
					font-size: 40px;
		        	line-height: 40px;
				}
			}

    		

			.range:before{
				content: 'supervised_user_circle';
			}
			.size:before{
				content: 'settings_overscan';
			}
			.play:before{
				content: 'category';
			}
			.add:before{
				content: 'add_circle_outline';
			}
			.block:before{
				content: 'block';
			}
		}
	}

	.offer{
		margin-top: 70px;
		@media only screen and (max-width: 577px) {
	      margin-top: 40px;
	    }
		.section{
			margin-bottom: 30px;
			@media only screen and (max-width: 577px) {
		      margin-bottom: 20px;
		    }

			h3{
				color: #212121;
				font-size: 30px;
			    font-weight: 600;
			    margin-bottom: 30px;

			    @media only screen and (max-width: 577px) {
			      font-size: 28px;
			      text-align: center;
			      margin-bottom: 25px;
			    }
			}

			.item{

				padding: 5px;
				border-bottom: solid 1px #ccc;

				.icon{
					display: inline-block;
					text-align: center;
					font-family: 'Material Icons';
			        font-size: 30px;
			        font-weight: 600;
			        line-height: 30px;
			        color: $purple;
				}

				.check:before{
					content: 'check';
				}

				p{
					display: inline-block;
					vertical-align: super;
					font-size: 16px;
					text-transform: uppercase;
					margin-left: 5px;
					@media only screen and (max-width: 577px) {
				      font-size: 14px;
				    }
				}

				.payRemark{
					display: block;
					font-size: 14px;
					font-style: italic;
					font-weight: 300;
					text-transform: lowercase;
					@media only screen and (max-width: 577px) {
				      font-size: 12px;
				    }
				}
			}
		}
	}



	.availabilityTable{
		margin-top: 30px;
		@media only screen and (max-width: 577px) {
	      margin-top: 15px;
	    }

		.headline{
			padding: 20px 0px;
			h4{
				color: #212121;
				font-size: 36px;
			    font-weight: 600;
			    line-height: 50px;
			    display: inline-block;
			    margin-bottom: 0px;
			    margin-right: 25px;
			    vertical-align: sub;
			    @media only screen and (max-width: 577px) {
			      font-size: 30px;
			      display: block;
			      text-align: center;
			      margin-right: 0px;
			      margin-bottom: 15px;
			    }
			}

			.DayPickerInput{
				display: inline-block;
				width: 160px;
				@media only screen and (max-width: 577px) {
			      display: block;
			      margin: auto;
			    }
			}
		}

		thead{
			background: $actionCol;
			color: #fff;
			text-align: center;
		}

		tr{
			text-align: center;
			font-size: 17px;

			@media only screen and (max-width: 577px) {
		      font-size: 15px;
		      line-height: 20px;
		    }
		}

		tbody{
			background: #fff;
			// border: solid 1px #ccc;
			tr{
				border-bottom: solid 1px #ccc;
			}
		}

		.activeButtons{
			button.active.focus,
			button.active:focus,
			button.focus,
			button:active.focus,
			button:active:focus,
			button:focus,
			.btn.active.focus,
			.btn.active:focus,
			.btn.focus,
			.btn:active.focus,
			.btn:active:focus,
			.btn:focus {
			    outline: 0;
			    outline-color: transparent;
			    outline-width: 0;
			    outline-style: none;
			    box-shadow: 0 0 0 0 rgba(0,123,255,0);
			}


			.btn-primary{
				width: 200px;
				margin: auto;
				color: #fff;
				font-weight: 300;
				background: $actionCol;
				display: block;
				margin-bottom: 15px;

				@media only screen and (max-width: 577px) {
			      font-size: 14px;
			      width: 160px;
			    }

				span{
					font-size: 14px;
					font-weight: 600;
					margin-left: 10px;
					@media only screen and (max-width: 577px) {
				      font-size: 12px;
				    }
				}
			}

			.btn-primary.active{
				background: $purple;
			}
		}

		.resInfoMsg{
			min-width: 200px;
			@media only screen and (max-width: 577px) {
		      min-width: 160px;
		    }
			p{
				font-size: 16px;
				font-weight: 600;
				text-align: center;

				@media only screen and (max-width: 577px) {
			      font-size: 14px;
			    }
			}

			.btn-success{
				margin-top: 10px;
			    margin-bottom: 20px;
			    border-radius: 30px;
			    padding: 10px 30px;
			    background: #38d43d;
			    color: #ffffff;
			    font-weight: 700;
			    -webkit-box-shadow: 5px 5px 8px 0px rgba(56,56,56,1);
				-moz-box-shadow: 5px 5px 8px 0px rgba(56,56,56,1);
				box-shadow: 5px 5px 8px 0px rgba(56,56,56,1);
				 transition: all 1s;

				&:hover{
					-webkit-box-shadow: 8px 8px 12px 0px rgba(56,56,56,1);
					-moz-box-shadow: 8px 8px 12px 0px rgba(56,56,56,1);
					box-shadow: 8px 8px 12px 0px rgba(56,56,56,1);
				}
			}
		}

		.xsReserveButton{
			.btn-success{
				margin-top: 10px;
			    margin-bottom: 20px;
			    border-radius: 30px;
			    padding: 10px 30px;
			    background: #38d43d;
			    color: #ffffff;
			    font-weight: 700;
			    -webkit-box-shadow: 5px 5px 8px 0px rgba(56,56,56,1);
				-moz-box-shadow: 5px 5px 8px 0px rgba(56,56,56,1);
				box-shadow: 5px 5px 8px 0px rgba(56,56,56,1);
				 transition: all 1s;

				&:hover{
					-webkit-box-shadow: 8px 8px 12px 0px rgba(56,56,56,1);
					-moz-box-shadow: 8px 8px 12px 0px rgba(56,56,56,1);
					box-shadow: 8px 8px 12px 0px rgba(56,56,56,1);
				}
			}
		}
	}
}