.partnershipHead{
	background-image: linear-gradient(to bottom, rgba(99, 99, 99, 0.52), rgba(36, 36, 36, 0.75)), url("/static/partnershipHead.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding: 60px 0px;
	text-align: center;

	@media only screen and (max-width: 992px) {
    	padding: 40px 0px;
	}

	h1{
		color: #fff;
	    font-size: 50px;
	    margin-bottom: 50px;
	    margin-top: 180px;
	    text-shadow: 2px 2px 2px #1E0D08;

	    @media only screen and (max-width: 992px) {
	    	font-size: 34px;
	    	margin-bottom: 30px;
	    	margin-top: 140px;
		}

		@media only screen and (max-width: 557px) {
	    	margin-top: 100px;
		}
	}
}

.contactHead{
	background-image: linear-gradient(to bottom, rgba(99, 99, 99, 0.52), rgba(36, 36, 36, 0.75)), url("/static/contact.jpeg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding: 60px 0px;
	text-align: center;

	@media only screen and (max-width: 992px) {
    	padding: 40px 0px;
	}

	h1{
		color: #fff;
	    font-size: 50px;
	    margin-bottom: 50px;
	    margin-top: 180px;
	    text-shadow: 2px 2px 2px #1E0D08;

	    @media only screen and (max-width: 992px) {
	    	font-size: 34px;
	    	margin-bottom: 30px;
	    	margin-top: 140px;
		}

		@media only screen and (max-width: 557px) {
	    	margin-top: 100px;
		}
	}
}

.partnershipRegularWhite{

	padding: 60px 0px;

	@media only screen and (max-width: 557px) {
    	padding: 40px 0px;
	}

	h3{
		font-size: 44px;
		font-weight: 600;
		text-align: center;
		width: 60%;
		margin: auto;
		margin-bottom: 50px;

		@media only screen and (max-width: 992px) {
	    	width: 80%;
	    	font-size: 38px;
		}

		@media only screen and (max-width: 557px) {
	    	width: 100%;
	    	font-size: 30px;
	    	margin-bottom: 40px;
		}
	}

	p{
		font-size: 24px;
		line-height: 45px;
		text-align: justify;
		font-weight: 300;
		width: 60%;
		margin: auto;
		margin-bottom: 30px;
		color: #000;

		@media only screen and (max-width: 992px) {
	    	width: 80%;
		}

		@media only screen and (max-width: 557px) {
	    	width: 100%;
	    	font-size: 18px;
			line-height: 32px;
			margin-bottom: 20px;
		}
	}

	.colorLink{
		color: $lightBlue;
		margin-left: 5px;
		font-style: italic;
	}
}

.contactRegularWhite{
	padding: 50px 0px;

	@media only screen and (max-width: 557px) {
    	padding: 40px 0px;
	}

	h3{
		font-size: 44px;
		font-weight: 600;
		text-align: center;
		width: 60%;
		margin: auto;
		margin-bottom: 50px;

		@media only screen and (max-width: 992px) {
	    	width: 80%;
	    	font-size: 38px;
		}

		@media only screen and (max-width: 557px) {
	    	width: 100%;
	    	font-size: 30px;
	    	margin-bottom: 40px;
		}
	}

	p{
		font-size: 18px;
	    line-height: 30px;
	    text-align: justify;
	    font-weight: 300;
	    width: 70%;
	    margin: auto;
	    margin-bottom: 10px;
	    color: #000;

		@media only screen and (max-width: 992px) {
	    	width: 80%;
		}

		@media only screen and (max-width: 557px) {
	    	width: 100%;
	    	font-size: 16px;
			line-height: 22px;
			margin-bottom: 8px;
		}
	}

	.colorLink{
		color: $lightBlue;
		margin-left: 5px;
		font-style: italic;
	}
}

.partnershipStripe{
	text-align: center;
	padding: 40px 0px;

	h2{
		font-size: 44px;
	    margin-bottom: 40px;
	    color: #fff;
	    @media only screen and (max-width: 557px) {
	    	font-size: 32px;
	    	margin-bottom: 30px;
		}
	}

	.white{
		color: #fff;
	}

	.link{
		font-size: 44px;
		text-decoration: underline;
		text-transform: uppercase;
		@media only screen and (max-width: 557px) {
	    	font-size: 32px;
		}

		&:hover{
			color:#000;
		}
	}

	.btn-success{
		margin-top: 30px;
	    border-radius: 30px;
	    padding: 10px 30px;
	    background: #f8f9fa;
	    color: #216cf7;
	    font-weight: 700;
	    -webkit-box-shadow: 7px 7px 10px 0px rgba(61,61,61,1);
		-moz-box-shadow: 7px 7px 10px 0px rgba(61,61,61,1);
		box-shadow: 7px 7px 10px 0px rgba(61,61,61,1);
		 transition: all 1s;

		&:hover{
			-webkit-box-shadow: 10px 10px 5px 0px rgba(61,61,61,1);
			-moz-box-shadow: 10px 10px 5px 0px rgba(61,61,61,1);
			box-shadow: 10px 10px 5px 0px rgba(61,61,61,1);
		}
	}
}



.partnerThree{
	padding: 30px 0px;

	.headline{
		padding: 30px 0px;
		@media only screen and (max-width: 577px) {
	    	padding: 10px 0px;
		}

		h2{
			text-align: center;
		    font-size: 40px;
		    margin-bottom: 40px;
		    font-weight: 600;

		    @media only screen and (max-width: 577px) {
		    	font-size: 30px;
		    	margin-bottom: 30px;
			}
		}
	}

	.partnerWhatItem{

		margin-bottom: 30px;
		padding-bottom: 20px;

		.photo{
			width: 100%;
			height: 250px;

			@media only screen and (max-width: 577px) {
		    	height: 120px;
			}
		}

		.num_1{
			background-image: url("/static/photo.jpg");
	    	background-size: cover;
	    	background-repeat: no-repeat;
	    	background-position: center;
		}

		.num_2{
			background-image: url("/static/photo-1.jpg");
	    	background-size: cover;
	    	background-repeat: no-repeat;
	    	background-position: center;
		}

		p{
			font-size: 18px;
			margin-top: 20px;
			padding: 0px 10px;

			@media only screen and (max-width: 577px) {
		    	font-size: 14px;
		    	margin-top: 15px;
			}
		}

		h5{
		    font-size: 44px;
		    line-height: 60px;
		    margin-top: 15%;
		    color: #fff;

		    @media only screen and (max-width: 1272px) {
		    	font-size: 36px;
			    line-height: 46px;
			    margin-top: 25px;
			}

		    @media only screen and (max-width: 992px) {
		    	font-size: 30px;
			    line-height: 40px;
			    text-align: center;
			}
		}

		h4{
			text-align: center;
		    font-weight: 600;
		    font-size: 24px;
		}

		.face{
		    width: 90px;
		    height: 90px;
		    line-height: 85px;
		    margin: auto;
		    margin-top: 20px;
		    margin-bottom: 20px;
		    text-align: center;
		    border-radius: 50%;
		    border: solid 2px $purple;

		    .icon{
				display: block;
				text-align: center;
				width: 100%;
				font-family: 'Material Icons';
		        font-size: 60px;
		        line-height: 85px;
		        color: $purple;
			}

			.sale:before{
				content: 'storefront';
			}
			.internet:before{
				content: 'language';
			}
			.proces:before{
				content: 'build';
			}
		}

		.double{
			width: 100%;

			.iconHolder{
				width: 60px;
			    height: 60px;
			    line-height: 55px;
			    margin: auto;
			    text-align: center;
			    display: inline-block;
			    vertical-align: middle;
			}

			.icon{
				display: block;
				text-align: center;
				width: 100%;
				font-family: 'Material Icons';
		        font-size: 45px;
		        line-height: 55px;
		        color: $purple;
			}

			.registration:before{
				content: 'account_box';
			}
			.photo:before{
				content: 'collections';
			}
			.activation:before{
				content: 'important_devices';
			}

			h4{
				display: inline-block;
				margin-left: 10px;
				font-weight: 300;
			}
		}

		.screen{
			width: 90%;
			margin: auto;
		}
	}

	.no-margin{
		margin-top: 0px;
		margin-bottom: 0px;
		padding-top: 0px;
		padding-bottom: 0px;
	}
}

