.reservationWrapper{
	padding-top: 40px;
	position: relative;

	@media only screen and (max-width: 768px) {
		padding-top: 30px;
	}

	.smallColPadd{
		padding-left: 7.5px;
		padding-right: 7.5px;

		@media only screen and (max-width: 577px) {
			padding-left: 15px;
			padding-right: 15px;
		}
	}

	.fix{
		position: fixed;
		width: 40%;
		max-width: 583px;
		top: 40px;
	}

	.absoluteBottom{
		position: absolute;
		width: 100%;
		max-width: 583px;
		bottom: 0px;
	}

	.fixMobile{
		position: fixed;
		width: 100%;
		bottom: 0px;
		left: 0px;
		margin: 0px !important;
		background: #fff;
		z-index: 999;
	}

	.absoluteMobile{
		position: relative;
		margin: 0px !important;
		width: 100%;
		background: #fff;
		z-index: 999;
	}

	.reservationFix{
		margin-bottom: 30px;

		@media only screen and (max-width: 577px) {
			
		}

		.title{
			padding: 5px 0px;
			background: $purple;

			.little{
				font-size: 12px;
				font-weight: 300;
				color: #fff;
				line-height: 15px;
				text-align: center;
			}
		}

		.basic{
			position: relative;
			background: #fff;

			h3{
				font-size: 19px;
				line-height: 30px;
				text-align: center;
				margin: 0px;
				@media only screen and (max-width: 1030px) {
					font-size: 16px;
					line-height: 22px;
				}
			}

			p{
				font-size: 14px;
				line-height: 32px;
			}

			.price{
				font-size: 15px;
				line-height: 32px;
				font-weight: 600;
				color: $purple;
				@media only screen and (max-width: 1030px) {
					font-size: 14px;
				}
			}

			.deposit{
				font-size: 16px;
				line-height: 32px;
				font-weight: 300;
				text-align: right;
				@media only screen and (max-width: 1030px) {
					font-size: 15px;
				}
			}

			.linkDown{
				cursor: pointer;
				text-align: center;
				text-decoration: underline;
				text-transform: uppercase;
				font-size: 12px;
				margin-top: 10px;
				margin-bottom: 10px;
				color: $actionCol;
			}
		}

		.additional{
			overflow:hidden;
			transition:all 800ms ease-in-out;
			height: 300px;
			width: 100%;
			margin: 0px !important;
			background: #fff;
			

			.general{
				margin-top: 25px;
				margin-bottom: 30px;

				font-size: 16px;
				@media only screen and (max-width: 577px) {
					font-size: 14px;
					margin-top: 15px;
					margin-bottom: 20px;
				}
			}


			h4{
				font-size: 17px;
				margin: 0px;
				line-height: 26px;
			}

			.table{
				thead{
					th{
						padding: 2px;
						border-bottom: solid 1px #ccc;
						font-size: 14px;
						font-weight: 600;
					}
				}

				td{
					font-size: 14px;
					font-weight: 400;
					padding: 3px;

					@media only screen and (max-width: 577px) {
						font-size: 14px;
						padding: 2px;
					}

					p{
						font-size: 14px;
						font-style: italic;
					}
				}
			}

			.faded{
				font-size: 14px;
				font-weight: 400;
				color: #888;
			}
		}

		.overflow{
			overflow: initial;
		}

		.hide{
			height: 0px;
		}
	}

	.resStep{
		margin-bottom: 40px;

		.stepHeadline{
			width: 70px;
			height: 70px;
			border-radius: 40px;
			margin: auto;
			background: #888;
			padding: 1px;
			@media only screen and (max-width: 577px) {
				width: 50px;
				height: 50px;
				border-radius: 25px;
			}

			.allWhite{
				width: 60px;
				height: 60px;
				border-radius: 32px;
				margin: 0px;
			    margin-left: 4px;
			    margin-top: 4px;
				background: #fff;
				padding: 1px;
				@media only screen and (max-width: 577px) {
					width: 44px;
					height: 44px;
					margin-left: 2px;
				    margin-top: 2px;
					border-radius: 25px;
				}

				.numWrapper{
					width: 50px;
					height: 50px;
					border-radius: 30px;
					margin: 0px;
				    margin-left: 4px;
				    margin-top: 4px;
					background: #888;
					@media only screen and (max-width: 577px) {
						width: 38px;
						height: 38px;
						margin-left: 2px;
				    	margin-top: 2px;
						border-radius: 20px;
					}

					h4{
						color: #fff;
						text-align: center;
						font-size: 40px;
						line-height: 49px;
						margin: 0px;
						@media only screen and (max-width: 577px) {
							font-size: 30px;
							line-height: 36px;
						}
					}
				}
			}
		}

		.stepHeadline.active{
			background: $purple;
			cursor: pointer;

			.numWrapper{
				background: $purple;
			}
		}

		.stepHeadline.click{
			background: $actionCol;
			cursor: pointer;

			.numWrapper{
				background: $actionCol;
			}
		}

		h5{
			font-size: 36px;
			font-weight: 700;
			color: #888;
			margin: 0px;
			text-align: center;

			@media only screen and (max-width: 577px) {
				font-size: 26px;
			}
		}
	}

	.step{
		.formSection{
			overflow:hidden;
			transition:all 800ms ease-in-out;
			height: 240px;
			width: 100%;
			margin: 0px !important;

			@media only screen and (max-width: 577px) {
				height: 390px;
			}

			h4{
				font-size: 32px;
				line-height: 40px;
				font-weight: 600;

				@media only screen and (max-width: 577px) {
					font-size: 22px;
					line-height: 30px;
					text-align: center;
				}
			}

			label{
				font-size: 16px;
				font-weight: 400;
				line-height: 20px;

				@media only screen and (max-width: 1030px) {
					font-size: 14px;
					line-height: 18px;
				}
			}

			.doubleBox{
				margin-top: 25px;

				label{
					margin-left: 5px;
					font-size: 16px;
				}
			}

			.littleInfo{
				margin-top: 20px;
				font-size: 14px;
				font-weight: 300;
				color: $greyCol;
				line-height: 16px;
			}

			.next{
				margin-top: 15px;
				margin-bottom: 20px;
				border: none;
			    border-radius: 30px;
			    padding: 7px 20px;
			    text-transform: uppercase;
			    background: #38d43d;
			    outline: none;
			    color: #ffffff;
			    font-weight: 700;
			    -webkit-box-shadow: 5px 5px 8px 0px rgba(56,56,56,1);
				-moz-box-shadow: 5px 5px 8px 0px rgba(56,56,56,1);
				box-shadow: 5px 5px 8px 0px rgba(56,56,56,1);
				 transition: all 1s;

				&:hover{
					-webkit-box-shadow: 8px 8px 12px 0px rgba(56,56,56,1);
					-moz-box-shadow: 8px 8px 12px 0px rgba(56,56,56,1);
					box-shadow: 8px 8px 12px 0px rgba(56,56,56,1);
				}

				@media only screen and (max-width: 577px) {
					margin-top: 15px;
					margin-bottom: 10px;
				}
			}

			.cateringDeal{
				padding: 10px 0px;
				border-bottom: solid 1px #ccc;
				margin-bottom: 10px;

				p{
					font-size: 16px;
					font-weight: 400;
					line-height: 22px;

					@media only screen and (max-width: 577px) {
						font-size: 14px;
						line-height: 20px;
					}
				}

				.payNote{
					font-size: 12px;
					font-weight: 300;
					margin-top: 25px;
					font-style: italic;
					line-height: 18px;
					margin-bottom: 5px;

					@media only screen and (max-width: 577px) {
						font-size: 10px;
						margin-top: 20px;
					}

				}

				.strong{
					font-size: 18px;
					font-weight: 600;
					margin-bottom: 10px;
	    			margin-top: 15px;

	    			@media only screen and (max-width: 370px) {
						font-size: 16px;
						margin-top: 10px;
					}
				}

				.cateringMenu{
					height: 230px;
					overflow-y: scroll;

					.scroll{
						display: none;

						@media only screen and (max-width: 768px) {
							display: initial;
							position: absolute;
							top: 15px;
							right: 15px;
							font-style: italic;
							font-weight: 300;
							font-size: 15px;
							color: $greyCol;
						}
						
					}

					.item{
						display: inline-block;
						margin-left: 5px;
						margin-bottom: 5px;

						.icon{
							display: inline-block;
							text-align: center;
							font-family: 'Material Icons';
					        font-size: 20px;
					        font-weight: 600;
					        line-height: 26px;
					        color: $purple;

					        @media only screen and (max-width: 577px) {
								line-height: 20px;
							}
						}

						.check:before{
							content: 'check';
						}

						p{
							display: initial;
							vertical-align: super;
							font-size: 12px;
							text-transform: lowercase;
							margin-left: 5px;
						}
					}
				}

				

				.mobileWrapper{
					margin-top: 25px;
					@media only screen and (max-width: 577px) {
						margin-top: 15px;
					}
				}
			}

			.addonSection{
				margin-bottom: 15px;

				.scroll{
					display: none;

					@media only screen and (max-width: 768px) {
						display: initial;
						position: absolute;
						top: 15px;
						right: 15px;
						font-style: italic;
						font-weight: 300;
						font-size: 15px;
						color: $greyCol;
					}
				}

				.addonList{
					height: 230px;
					overflow-y: scroll;

					.item{
						margin-bottom: 20px;
						padding-bottom: 5px;
						border-bottom: solid 1px #ccc;

						p{
							font-size: 16px;

							@media only screen and (max-width: 577px) {
								font-size: 14px;
							}
						}

						.name{
							font-size: 18px;
							font-weight: 600;

							@media only screen and (max-width: 577px) {
								font-size: 16px;
							}
						}

						.small{
							font-size: 15px;
							font-weight: 400;
							font-style: italic;

							@media only screen and (max-width: 577px) {
								font-size: 14px;
							}
						}
					}
				}
			}
		}

		.overflow{
			overflow: initial;
		}

		.hide{
			height: 0px;
		}
	}

	.paymentRoute{

		.smallName{
			font-size: 18px !important;
	    text-align: center;
	    line-height: 26px !important;
	    width: 80%;
			margin: auto;
	    margin-bottom: 20px;

			@media only screen and (max-width: 577px) {
				width: 100%;
			}
		}

		.redirectLinks{

			p{
				text-align: center;
    		font-size: 16px;

    		a{
    			color: #507bff;
    			cursor: pointer;
    		}
			}
			
		}

		.additionalExplanation{
			font-size: 14px;
			line-height: 20px;
			
			font-style: italic;
			width: 80%;
			margin: auto;
			margin-bottom: 30px;

			@media only screen and (max-width: 577px) {
				font-size: 14px;
				width: 100%;
			}
		}

		.logForm{
			margin-bottom: 30px;
			width: 60%;
			margin: auto;

			@media only screen and (max-width: 577px) {
				width: 100%;
			}

			.title{
				display: none;
			}

			label{
				font-size: 16px;
				font-weight: 400;
				margin-bottom: 5px;
				@media only screen and (max-width: 577px) {
					font-size: 14px;
				}
			}

			.marginSmall{
	    	margin-top: 20px;
	    	margin-bottom: 30px;

	    	@media only screen and (max-width: 577px) {
					margin-top: 15px;
	    		margin-bottom: 20px;
				}

	    	a{
	    		font-size: 16px;
	    		color: #507bff;
	    		font-style: italic;
	    		text-decoration: underline;
	    		line-height: 22px;
	    	}
	    }

			.logInput{
				margin-bottom: 15px;
			}

			.logInput.short{
				width: 30%;
				display: inline-block;
				@media only screen and (max-width: 577px) {
					width: 100%;
					display: block;
				}
			}
			.logInput.long{
				width: 70%;
				display: inline-block;
				@media only screen and (max-width: 577px) {
					width: 100%;
					display: block;
				}
			}

			.btn-success{
				margin-top: 25px;
				margin-bottom: 20px;
				border: none;
			    border-radius: 30px;
			    padding: 7px 20px;
			    text-transform: uppercase;
			    background: #38d43d;
			    outline: none;
			    color: #ffffff;
			    font-weight: 700;
			    -webkit-box-shadow: 5px 5px 8px 0px rgba(56,56,56,1);
				-moz-box-shadow: 5px 5px 8px 0px rgba(56,56,56,1);
				box-shadow: 5px 5px 8px 0px rgba(56,56,56,1);
				 transition: all 1s;

				&:hover{
					-webkit-box-shadow: 8px 8px 12px 0px rgba(56,56,56,1);
					-moz-box-shadow: 8px 8px 12px 0px rgba(56,56,56,1);
					box-shadow: 8px 8px 12px 0px rgba(56,56,56,1);
				}
			}
		}

		.paymentStage{
			p{
				font-size: 17px;
			    font-weight: 600;
			    margin-left: 15px;
			    margin-bottom: 5px;
			}

			.marginSmall{
				margin-top: 30px;

				a{
					font-size: 16px;
					text-decoration: underline;
					font-style: italic;
				}
			}

			.btn-success{
				margin-top: 25px;
				margin-bottom: 20px;
				border: none;
			    border-radius: 30px;
			    padding: 7px 20px;
			    text-transform: uppercase;
			    background: #38d43d;
			    outline: none;
			    color: #ffffff;
			    font-weight: 700;
			    -webkit-box-shadow: 5px 5px 8px 0px rgba(56,56,56,1);
				-moz-box-shadow: 5px 5px 8px 0px rgba(56,56,56,1);
				box-shadow: 5px 5px 8px 0px rgba(56,56,56,1);
				 transition: all 1s;

				&:hover{
					-webkit-box-shadow: 8px 8px 12px 0px rgba(56,56,56,1);
					-moz-box-shadow: 8px 8px 12px 0px rgba(56,56,56,1);
					box-shadow: 8px 8px 12px 0px rgba(56,56,56,1);
				}
			}

			.React__checkbox{
				margin-top: 15px;
				
				.checkbox-simple-label{
					margin-left: 5px;
				}
			}
		}
	}
}

.fix + .reservationWrapper {
  padding-top: 103px;
}

