.userWrapper{

	padding-top: 40px;
	padding-bottom: 50px;

	.box{
		width: 45%;
		padding: 40px;
		margin: auto;
		border-radius: 10px;
	    background-image: linear-gradient(to right top, #5b92f8, #5082dd, #4672c3, #3c62a9, #325390);
	    -webkit-box-shadow: 8px 8px 12px 0px rgba(71,71,71,1);
		-moz-box-shadow: 8px 8px 12px 0px rgba(71,71,71,1);
		box-shadow: 8px 8px 12px 0px rgba(71,71,71,1);
		margin-bottom: 20px;

	    @media only screen and (max-width: 992px){
	    	width: 70%;
			padding: 30px;
	    }

	    @media only screen and (max-width: 577px){
	    	width: 100%;
			padding: 30px;
	    }

	    .logForm{

	    	.title{
					h3{
						font-size: 32px;
			    	text-align: center;
			    	color: #fff;
			    	@media only screen and (max-width: 577px){
							font-size: 28px;
				    }
					}
					p{
						text-align: center;
			    	font-size: 18px;
			    	color: #fff;
			    	font-weight: 300;
			    	margin-bottom: 30px;

			    	@media only screen and (max-width: 577px){
							font-size: 16px;
							margin-bottom: 20px;
				    }
					}
				}

				label{
					font-size: 16px;
					font-weight: 400;
					margin-bottom: 5px;
					color: #fff;
					@media only screen and (max-width: 577px){
						font-size: 14px;
			    }
				}
	    }

	    .checkbox-simple-label{
				margin-left: 5px;
			}

	    .middle{
	    	margin-top: 20px;
	    }

	    .marginSmall{
	    	margin-top: 20px;
	    	margin-bottom: 30px;

	    	a{
	    		font-size: 16px;
	    		color: #fff;
	    		font-style: italic;
	    		text-decoration: underline;
	    		line-height: 22px;
	    	}
	    }

	    .btn-success{
		    border-radius: 30px;
		    padding: 10px 30px;
		    background: #f8f9fa;
		    color: #216cf7;
		    font-weight: 700;
		    -webkit-box-shadow: 7px 7px 10px 0px rgba(28,59,122,1);
				-moz-box-shadow: 7px 7px 10px 0px rgba(28,59,122,1);
				box-shadow: 7px 7px 10px 0px rgba(28,59,122,1);
			  transition: all 600ms;

			&:hover{
				-webkit-box-shadow: 10px 10px 5px 0px rgba(28,59,122,1);
				-moz-box-shadow: 10px 10px 5px 0px rgba(28,59,122,1);
				box-shadow: 10px 10px 5px 0px rgba(28,59,122,1);
			}
		}
	}

	.logForm{
		margin-bottom: 30px;

		.title{
			h3{
				font-size: 22px;
		    	color: #fff;
			}
			p{
		    	font-size: 14px;
		    	color: #fff;
		    	font-weight: 300;
		    	margin-bottom: 30px;
			}
		}

		label{
			font-size: 16px;
			font-weight: 400;
			margin-bottom: 5px;
		}

		.logInput{
			margin-bottom: 15px;
		}

		.logInput.short{
			width: 30%;
			display: inline-block;
		}
		.logInput.long{
			width: 70%;
			display: inline-block;
		}


	}

	.logLinks{
		p{
			width: 80%;
	    margin: auto;
	    font-size: 22px;
	    font-weight: 500;
	    margin-top: 40px;

	    @media only screen and (max-width: 577px){
				font-size: 18px;
				width: 100%;
	    }
		}

		a{
			cursor: pointer;
			color: $lightBlue;
			text-decoration: underline;

			&:hover{
				color: #0059ff;
				text-decoration: underline;
			}
		}
	}

	.regConfirmation{
		padding-top: 30px;

		h3{
			font-size: 40px;
			margin-bottom: 40px;
		}

		p{
			width: 80%;
			margin: auto;
			font-size: 20px;
			line-height: 32px;
			margin-bottom: 30px;
			font-weight: 400;
		}
	}
}