@import url('https://fonts.googleapis.com/css?family=Istok+Web:400,700|Roboto:300,400,700&display=swap&subset=latin-ext" rel="stylesheet"');

$headFont: 'Istok Web', sans-serif;
$regFont: 'Roboto', sans-serif;

.totalWrapper{
	background-color: #f9f9f9;

	img{
		max-width: 100%;
	}
}

.colorWhite{
	background-color: #fff;
}

.colorGrey{
	background-color: #e0e0e0;
}

.bigPadDown{
	padding-bottom: 50px;

	@media only screen and (max-width: 600px){
		padding-bottom: 20px;
	}
}

.plainInput{
	color: #444;
    width: 100%;
    font-size: 16px;
    padding: 6px 10px;
    border: solid #ccc 1px;
    border-radius: 5px;
}

.middle{
	text-align: center;
}

h1, h2, h3, h4{
	font-family: $headFont;
	font-weight: 600;
}

p, span{
	margin: 0px;
	font-family: $regFont;
}

@media only screen and (max-width: 577px) {
  	h2{
  		font-size: 26px;
  	}
}

.intro{
	margin-top: 80px;

	h1, h2, h3, h4{
		margin-bottom: 40px;
		@media only screen and (max-width: 577px) {
  			font-size: 28px;
  			line-height: 30px;
		}
	}
}